[Unit]
Description=Kernel
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

WorkingDirectory=/opt/Kernel

ExecStart=/opt/Kernel/launch.sh
Restart=on-failure
RestartSec=2

EnvironmentFile=-/opt/Kernel/.env

SyslogIdentifier=kernel
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
